<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${trainings} and ${trainings.size()}">No Training Entered :(</p>


<table class="table">

    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
        <!--        <th>Category</th> -->
    </tr>

    <tr th:each="training : ${trainings}">  <!--this tells it to look in Model for trainings; if you go to TrainingController you will see there is trainings in Model -->
        <td th:text="${training.name}"></td>
        <td th:text="${training.description}"></td>
        <td th:text="${training.date}"></td>
        <!--       <td th:text="${training.category != null ? training.category.name: 'No category set'}"></td>
           -->
    </tr>

</table>

<a href="/training/add">Add</a> |
<!--<a href="/training/remove">Remove</a>
-->

</body>
</html>


