
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<heading th:replace="fragments :: heading"></heading>

<form method="post" th:object="${user}" style="width:600px;">
<!--
    <div class="form-group">
        <label th:for="username">Username</label>
        <input class="form-control" th:field="*{username}" />
        <div class="error" th:errors="*{username}"></div>
    </div>-->
    <div class="form-group">
        <label th:for="email">Email</label>
        <input class="form-control" th:field="*{email}" type="email" />
        <div class="error" th:errors="*{email}"></div>
    </div>
    <div class="form-group">
        <label th:for="password">Password</label>
        <input class="form-control" th:field="*{password}" type="password" />
        <div class="error" th:errors="*{password}"></div>
    </div>
    <div class="form-group">
        <label th:for="verifyPassword">Verify</label>
        <input class="form-control" th:field="*{verifyPassword}" type="password" />
        <div class="error" th:errors="*{verifyPassword}"></div>
    </div>


    <input type="submit" value="Register to Create an Account" />
<!--    <input type="submit" value="Already have an Account?  Login Here!" />
    -->
   <!--
    <button class="btn btn-primary" type="submit">Register</button>
    -->

    <a th:href="@{login}" button class="btn btn-primary" role="button">Login</a>
    <!-- <a th:href="@{/register}" button class="btn btn-primary" role="button">Cancel</a>-->

</form>

</body>
</html>